.map{
  height:500px;
}
.draw{
  width:70%;
  height:100%;
  float:left;
  margin: 0 auto;
}
.details{
  width:30%;
  height:100%;
  float:right;
  margin: 0 auto;
}
.forcast{
  height:40%;
  width:100%;
  float: left;
}
