.land {
  fill: rgba(51, 79, 121, 0.6);
}
.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .3px;
}
.state-boundary {
  fill: none;
  stroke: #fff;
}
body{
  background-color: #1d7276;
  background-color: #935794;
}
